/* hoverで背景をメインカラーからメインカラー2へアニメーション */
.to-main{background-color: $mainColor2;
color:$subColor;
transition: background-color .5s
}
.to-main:hover {background-color:lighten($mainColor,15%);}

/* メッセージページ用 */
.msg-wrap {@include flexbox; flex-wrap: wrap;}
.msg {width: 49%; @include media-pc{width:24%} margin-left: 0.5%; margin-right: 0.5%; margin-bottom: 1%;}
.msg a { opacity: 0;}
.msg img {width: 100%; max-width: 400px;}
/* animation setting */
@mixin animationValue( $name, $duration, $function, $delay, $count, $state){
    -webkit-animation: $name $duration+s $function $delay+s $count $state;
    animation: $name $duration+s $function $delay+s $count $state;
}

// ↓through の後の数字を子要素の数字にすることで
// ↓{}（ブレース）内の処理をその回数分繰り返します。
@for $cnt from 1 through 50{
 .msg:nth-child(#{$cnt}) a {
        // ↓現在のカウント数（$cnt）に少数値をかけた値を $delay 
        // ↓に指定することで時間差をつけることができる
        @include animationValue(delay-fade, 0.8, ease, $cnt * 0.3 , 1, forwards);
    }
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @keyframes #{$name} {
    @content;
  } 
}
@include keyframes(delay-fade) {
  100% {
      opacity: 1;
  }
}